# Object files
*.o
*.ko
*.obj
*.elf
.idea/*

# Snakemake
.snakemake
benchmark/*
alignment/*
gtf/*
logs/*
output/*
test_data/genome/genome.STAR/*
test_data/genome/genome.fa.smmi


# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo


# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
lr2rmats
gdb_lr2rmats
bin/*
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

#data
data/*

#tags
tags
cscope.*
